@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);

@font-face {
  font-family: 'noths2';
  src: url('http://www.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_regular.eot?#iefix') format('embedded-opentype'),
  url('http://www.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_regular.woff') format('woff'),
  url('http://www.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'noths2-bold';
  src: url('http://www.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_semibold.eot?#iefix') format('embedded-opentype'),
  url('http://www.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_semibold.woff') format('woff'),
  url('http://www.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_semibold.ttf')  format('truetype');
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Main Styles */
body {
  color: #eee;
  font-family: 'noths2';
  font-size: 14px;
  overflow: hidden;
  background-color: #000000;
  margin: 0px;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-weight: normal;
}

li { list-style-type: none; }

body {
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  user-select:           none;
}

input[type='text'] {
  -webkit-touch-callout: default;
  -webkit-user-select:   auto;
  -khtml-user-select:    auto;
  -moz-user-select:      text;
  -ms-user-select:       text;
  user-select:           text;
}

#loading {
  display: none;
}

#hud {
  padding: 20px;
  position: fixed;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.15);
  border-left: 1px solid rgba(255,255,255,0.2);
  -webkit-transition: -webkit-transform .5s cubic-bezier(.1, .1, .35, .8);
  transition: transform .5s cubic-bezier(.1, .1, .35, .8);
}

#hud.closed {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

#hud.restricted .order {
  opacity: 0.5;
}

#hud.restricted .order.highlight {
  opacity: 1;
}

#hud .hide_show_hud {
  position: absolute;
  background-image: url("images/chevron.png");
  height: 38px;
  width: 28px;
  top: 50%;
  margin-top: -19px;
  left: -40px;
  text-indent: -999em;
  cursor: pointer;
  opacity: 0.4;
}

#hud .hide_show_hud:hover {
  opacity: 0.6;
}

#hud.closed .hide_show_hud {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Opera, Chrome, and Safari */
}

#hud .noths_logo {
  width: 100%;
  margin-bottom: 20px;
}

.orders_module > h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.order {
  border-width: 1px;
  border-style: solid none none none;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
  color: #ddd;
  background-color: rgba(0,0,0,0.25);
  cursor: pointer;
  -webkit-transition: opacity .5s cubic-bezier(.1, .1, .35, .8);
  transition: opacity .5s cubic-bezier(.1, .1, .35, .8);
}

.order img {
  float: left;
  margin-right: 10px;
}

.order .product_title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #eee;
}

.order .partner_name {
  margin-bottom: 10px;
}

.order p {
  margin-bottom: 10px;
  margin-left: 100px;
}

.order.highlight {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.35);
}

.orders_wrapper {
  position: absolute;
  top: 198px;
  bottom: 0;
  left: 0;
  right: 0;
}

.orders {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 12px 20px 0;
}

.orders::-webkit-scrollbar {
  display: none;
}

.orders:hover .order {
  opacity: 0.5;
}

.orders .order:hover {
  opacity: 1;
}

#hud.restricted .order:hover {
  opacity: 1;
}
