@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);

/* Main Styles */
body { color:#000000; font-family:'Roboto'; font-size:14px; height:768px; min-width: 1280px; min-height: 860px; overflow: hidden;}
a { color:#ffffff; text-decoration:none; }
a:hover { color:#8eb423; }
h1 { font-family:'Roboto'; font-weight:normal; }
h2 { font-family:'Roboto'; font-weight:normal; }
li { list-style-type:none; }

#dataviz {
  background-color:   #000000;
  margin:       0px;
  overflow-y:     hidden;
  overflow-x:         auto;
}

#visualization{
  position: fixed;
}

#loading{
  background-color: #111;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -380px;
  color: white;
  padding: 16px 30px;
  width: 700px;
  height: 45px;
  line-height: 11px;
}


/*Remove all text selection (except for Text Input)*/
body {
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  user-select:           none;
}

input[type='text'] {
  -webkit-touch-callout: default;
  -webkit-user-select:   auto;
  -khtml-user-select:    auto;
  -moz-user-select:      text;
  -ms-user-select:       text;
  user-select:           text;
}
